@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600);

@font-face {
  font-family: 'monacoregular';
  src: url('monaco/monaco-webfont.eot');
  src: url('monaco/monaco-webfont.eot?#iefix') format('embedded-opentype'),
  url('monaco/monaco-webfont.woff2') format('woff2'),
  url('monaco/monaco-webfont.woff') format('woff'),
  url('monaco/monaco-webfont.ttf') format('truetype'),
  url('monaco/monaco-webfont.svg#monacoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serifregular';
  src: url('pt-serif/ptf55f-webfont.eot');
  src: url('pt-serif/ptf55f-webfont.eot?#iefix') format('embedded-opentype'),
  url('pt-serif/ptf55f-webfont.woff2') format('woff2'),
  url('pt-serif/ptf55f-webfont.woff') format('woff'),
  url('pt-serif/ptf55f-webfont.ttf') format('truetype'),
  url('pt-serif/ptf55f-webfont.svg#pt_serifregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  font-family: 'pt_serifregular', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper .header {
  background-image: url("../img/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  text-align: center;
}

.wrapper .header h1.title {
  font-family: 'monacoregular', sans-serif;
  font-size: 25px;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
}

.wrapper .header .divider {
  width: 70%;
  margin: 20px auto;
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  height: 1px;
}

.wrapper .header h3.tagline {
  font-family: 'monacoregular', sans-serif;
  color: #fff;
  text-align: center;
}


.wrapper .statement {
  padding: 20px;
}

.wrapper .statement h3 {
  font-family: 'monacoregular', sans-serif;
  font-size: 25px;
  color: #3a3a3a;
  margin: 50px 0 20px 0;
}

.wrapper .statement .span_5 {
  text-align: center;
  padding-top: 20px;
}

.wrapper .statement p {
  color: #3a3a3a;
  font-size: 16px;
  margin: 10px 0 0 0;
  line-height: 25px;
}

.right .span_5{
  float: right;
}

.right .span_7{
  float: left;
}

.highlight {
  color: #a2bd95;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* TABLET */
@media (min-width: 768px){
  .wrapper .header {
    padding: 100px 0 60px 0;
  }

  .wrapper .header h1.title {
    font-size: 60px;
    letter-spacing: 13px;
  }

  .wrapper .header .divider {
    width: auto;
    margin: 30px auto;
    max-width: 700px;
  }

  .wrapper .header h3.tagline {
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 1px;
    max-width: 800px;
    margin: auto;
  }

  .wrapper .statement {
    width: 700px;
    padding: 20px;
    margin: auto;
  }

  .wrapper .statement h3 {
    font-family: 'monacoregular', sans-serif;
    font-size: 25px;
    color: #3a3a3a;
    margin: 50px 0 20px 0;
  }

  .wrapper .statement .span_5 {
    text-align: center;
    padding-top: 200px;
  }

  .wrapper .statement p {
    color: #3a3a3a;
    font-size: 16px;
    margin: 10px 0 0 0;
    line-height: 25px;
  }

  .right .span_5{
    float: right;
  }

  .right .span_7{
    float: left;
  }
}

/* DESKTOP */
@media (min-width: 961px){
  .wrapper .header {
    padding: 150px 0 100px 0;
  }

  .wrapper .header h1.title {
    font-size: 80px;
    letter-spacing: 13px;
  }

  .wrapper .header .divider {
    width: auto;
    margin: 50px auto;
    max-width: 700px;
  }

  .wrapper .header h3.tagline {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 3px;
    max-width: 800px;
    margin: auto;
  }

  .wrapper .statement {
    width: 1100px;
    margin: auto;
  }

  .wrapper .statement h3 {
    font-family: 'monacoregular', sans-serif;
    font-size: 35px;
    color: #3a3a3a;
    margin: 60px 0 30px 0;
  }

  .wrapper .statement .span_5 {
    text-align: center;
    padding-top: 120px;
  }
  
  .wrapper .statement p {
    color: #3a3a3a;
    font-size: 16px;
    margin: 10px 0 0 0;
    line-height: 25px;
  }

  .wrapper .footer .inner {
    width: 1100px;
    margin: auto;
  }
}