* {
    font-family: 'Lato', serif !important;
}

.navbar-collapse .btn-outline-primary, .navbar-collapse .btn-outline-secondary {
    border-radius: 20px;
    border-width: 2px;
}

.header {
    border-bottom: 1px solid #E8E9EB;
}

h1 {
    font-weight: 900 !important;
}

.adventech-hero-title {
    font-weight: 900;
    font-size: 45px;
}

.adventech-paragraph {
    font-size: 22px;
    color: #4A4A4A;
    font-weight: 300;
}

.adventech-hero-cta {
    border-radius: 25px !important;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.20);
}

.adventech-download-link {
    transition: 250ms all ease-in-out;
}

.adventech-download-link:hover {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.20);
    transform: scale(1.038);
}